<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create a new apartment listing</title>
    <style>
        body {
            background-color: #f2c6d3;
        }
    </style>
</head>

<body>
	{{> /common/_navigation }}
    {{#noUser}}
    <a href="/login">Login</a> {{/noUser}} {{#currentUser}} Welcome, {{ currentUser.firstName }} {{/currentUser}}

    <h1>Create a new apartment listing</h1>

    <form method="post" action="/apartments">
        <input type="number" required name="rent" placeholder="Rent">
        <br>
        <input type="number" required name="number_of_bedrooms" placeholder="Number of bedrooms">
        <br>
        <input type="number" step="0.5" required name="number_of_bathrooms" placeholder="Number of bathrooms">
        <br>
        <input type="number" required name="square_footage" placeholder="Square footage">
        <br>
        <input type="text" required name="address" placeholder="Address">
        <br>
        <input type="text" required name="city" placeholder="City">
        <br>
        <input type="text" required name="state" placeholder="State">
        <br>
        <input type="text" required name="zip_code" placeholder="ZIP code">
        <br>
        <button>Add listing</button>

    </form>

</body>

</html>