<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sign up for a new account</title>
    <style>
    body {
    background-color: #def1f4;
    }
    </style>
  </head>
  <body>
  {{> /common/_navigation }}
  <h1>Sign up for a new account</h1>
  <form method="post" action="/users">
  <input type="text" name="firstName" placeholder="First Name" required>
  <br>
  <input type="text" name="lastName" placeholder="Last Name" required>
  <br>
  <input type="password" name="password" placeholder="Password"required>
  <br>
  <input type="email" name="email" placeholder="Email"required>
  <br>
  <button>Sign up!</button>
</form>
  </body>
</html>